<section class="w-full py-28" id="about">
    <div
        class="container mx-auto flex flex-col md:flex-row items-center justify-between">

        <div class="mt-16 text-center md:text-left md:w-1/2 space-y-4">
            <h1 class="mb-10 text-2xl"><b>Sobre mim</b></h1>
            <div class="flex justify-center md:justify-start space-x-4">
                <img src="/icon-about.svg" alt="about-icon"
                    class="mb-14 w-50 h-50">
                <div class="hidden md:flex">
                    <img src="/arrow-about.svg" alt="arrow"
                        class="mt-60 w-20 h-20">
                </div>
            </div>
        </div>

        <!-- retangulo rosa -->
        <div class="mt-8 md:mt-0 md:w-1/2 flex justify-center">
            <div
                class="bg-primaryColor mt-10 w-full h-auto text-white rounded-3xl p-4 md:mt-20 md:max-w-[1100px] md:h-[380px]">
                <p
                    class="font-semibold text-center md:text-left flex justify-center md:justify-start items-center">
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum.
                </p>
            </div>
        </div>

    </div>
</section>