<header class="bg-white">
    <nav class="py-11 px-28">
        <div class="flex justify-between items-center flex-row">
            <a href="/">
                <img src="/logo-light-mode.svg" alt="Logo"
                    class="w-22 h-22"></a>
                    <i class="fa-solid fa-bars"></i>
            <div>
                <a href="/#about"
                    class="text-gray-600 hover:text-gray-900 px-4">Sobre</a>
                <a href="/#resume"
                    class="text-gray-600 hover:text-gray-900 px-4">Formação e
                    experiência</a>
                <a href="/#projetos"
                    class="text-gray-600 hover:text-gray-900 px-4">Projetos e habilidades</a>
            </div>
        </div>
    </nav>
</header>