<section class="w-full py-48">
    <div
        class="container mx-auto flex flex-col md:flex-row items-center justify-between">

        <div class="text-center md:text-left md:w-1/2 space-y-4">
            <div class="flex justify-center md:justify-start space-x-4">
                <a href="https://github.com/marcelahadassa" class="w-8 h-8"><img
                        src="/github-logo.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/marcelahadassa/"
                    class="w-8 h-8"><img
                        src="/linkedin-logo.png" alt="linkedin"></a>
            </div>

            <h1 class="mt-10 text-5xl">Olá, eu sou a <b>Marcela!</b></h1>
            <p class="mt-4 text-2xl">Estudante de Ciência da Computação</p>
            <a href="#contato"
                class="mt-6 inline-block px-6 py-3 bg-pink-500 text-white font-semibold rounded-3xl shadow-md hover:bg-pink-600">Entre
                em contato</a>
        </div>
        <div class="mt-8 md:mt-0 md:w-1/2 lg:justify-end flex justify-center">
            <img src="/doll.svg" alt="landing-doll"
                class="w-96 h-96">
        </div>

    </div>
</section>
